$altos: (
    alto100: 100%,
    alto15rem: 15rem,
    alto20rem: 20rem,
    alto25rem: 25rem,
    alto30rem: 30rem
);

$anchos: (
    ancho50: 50%,
    ancho60: 60%,
    ancho70: 70%,
    ancho80: 80%,
    ancho85: 85%,
    ancho90: 90%,
    ancho100: 100%,
    ancho105: 105%
);