header {
    grid-area: header;
    display: grid;
    background: $primary-color;
    grid-template-areas: 
    "logo" 
    "nav";
}
    nav {
    grid-area: nav;
    
    ul {
        display: flex;
        flex-direction:row;
        align-items: center;
        }
  
        li {
        list-style: none;
        align-items: center;
        padding: 0em 0.2em;}
            &:hover {
            transform: scale(1);
            }
  
        a {
        text-decoration: none;
        color: $secondary-color;
        font-family: 'Printvetica';
        }
    }    
  
.container--logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    }
    .logo {
    width: 3em;
    &:hover {
        filter: invert(100%);
        }
    }
  